#banner{
	height: 700px;
	background-image:url(../assets/rail1.jpg);
	background-size: cover;
}
.skill{
	padding-top: 500px;
}
.skill1{
	position: relative;
	margin-right: 300px;
	
}
.project{
	position: relative;
	margin-right: 300px;

}
.contact{
	position: relative;
}